/* Reset some default styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header {
  background-color: #8F64E1; /* Green background */
  color: white;
  padding: 1rem;
  text-align: center;
}

.header nav ul {
  list-style-type: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 1rem;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

.main-content {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
